@media (max-width: 480px) {
.header {
    height: 100px;
}
.phone {
    display: none;
}
.header__logo-phone {
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.header__cart-phone {
    text-align: end;
    width: 50px;
}
.header__search-phone {
    margin-left: 40px;
    height: 50px;
}


.conatiner_home-suggest-item-img-1 {
    grid-template-columns: 4fr;
}
.conatiner_home-dm-phone {
    padding: 0;
}
.conatiner_home-dm-1-img-phone {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
    list-style: none;
}
.conatiner_home-dm-1-img li {
    width: 100px; 
    flex: 0 0 auto; 
    margin-right: 15px; 
    text-align: center;
}

.conatiner_home-dm-1-img li img {
    width: 100%; 
    height: auto;
}
.conatiner_home-dm-2-img {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto;
}
.conatiner_home-dm-2-img-img {
    width: 100px; 
    flex: 0 0 auto; 
    margin-right: 15px; 
    text-align: center;
}
.container_product {
    width: 450px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    
}

.container_product-overview img {
    max-width: 80%; 
}

.product-info {
    font-size: 0.9rem; 
}
.footer {
    width: 450px;
    margin-left: 0;
}
.footer_main-main {
    flex: 1 1 45%; 
    margin-left: 10px;
    text-align: center;
}

.footer_main-main-qr-img img {
    width: 80px; 
}

.footer_main-main-DV {
    font-size: 1em; 
}

.footer_main-main-DV-ul li {
    font-size: 0.8em; 
}


}